body {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #222;
}

.k-header {
  position: sticky;
  padding: 0 16px 0 16px;
  top: 0px;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(228, 228, 228);
}

.k-header__brand {
  font-size: 24px;
  color: #E93D44;
}

.k-header__space {
  flex: 1;
}

.k-header__last-item {
  padding-left: 16px;
}

.k-navbar ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.k-navbar__item {
  margin-left: 12px;
}

.k-navbar__item a {
  text-decoration: none;
  color: #222;
}

.k-navbar__item a:hover {
  text-decoration: none;
  color: #E93D44;
}

.k-product-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.k-product-list {
  max-width: 1048px;
  padding: 16px 0 0 16px;
  margin: auto;
  margin-bottom: 32px;
}

.k-product-list__header {
  color: #E93D44;
}

.k-product-item {
  width: 300px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.k-product-item__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 16px;
}

.k-product-item__title{
  margin: 0;
  font-size: 24px;
}